.support {
 border: 4px dotted black; /* Параметры границы */
 background: white; /* Цвет фона */
 padding: 10px; /* Поля вокруг текста */
 height: 300px;
 width: 250px;
 .information {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	background-color: transparent;
}
textarea {
	/* = Убираем скролл */
	overflow: auto;

	/* = Убираем увеличение */
	resize: none;
	width: 300px;
	height: 50px;

	/* = Добавим фон, рамку, отступ*/
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
	background-color: transparent;
}
.submit {
  font-weight: 700;
  display: block;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.submit:hover { 
	background: rgb(53, 167, 110); 
}
.submit:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
